{% extends "base.html" %}

{% block title %}
Alterar senha
{% endblock title %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/form-page.css') }}">
{% endblock head %}

{% block main %}
<form action="{{ url_for('user.change_password') }}" method="post">
    <div class="form-card">
        <h1>Alterar senha</h1>

        <div class="input-container">
            <label for="password">Digite sua senha atual</label>
            <input name="password" id="password" type="password" placeholder="********" required>
        </div>

        <div class="break"></div>
        
        <div class="input-container">
            <label for="new-password-1">Digite sua nova senha</label>
            <input name="new-password-1" id="new-password-1" type="password" placeholder="********" required>
        </div>

        <div class="input-container">
            <label for="new-password-2">Confirme a nova senha</label>
            <input  name="new-password-2" id="new-password-2" type="password" placeholder="********" required>
        </div>

        {% include "components/messages.html" %}

        <button class="button">Alterar</button>
    </div>

</form>
{% endblock main %}