@import "tailwindcss";

@theme {
  --color-primary-50: #FDE8E8;
  --color-primary-100: #F9BDBD;
  --color-primary-200: #F69393;
  --color-primary-300: #F26969;
  --color-primary-400: #EE3F3F; /* BOTÃO DE AÇÃO */
  --color-primary-500: #EB1414;
  --color-primary-600: #C01111; /* HOVER: BOTÃO DE AÇÃO */
  --color-primary-700: #960D0D;
  --color-primary-800: #6C0909;
  --color-primary-900: #420606;
  --color-primary-950: #170202;

  --color-secundary: #fff;

  --color-neutral-50: #EFF2F6;
  --color-neutral-100: #D1DAE5;
  --color-neutral-200: #B4C2D5;
  --color-neutral-300: #97AAC4;
  --color-neutral-400: #7992B4;
  --color-neutral-500: #5C7AA3;
  --color-neutral-600: #4B6486;
  --color-neutral-700: #3B4E68;
  --color-neutral-800: #2A384B;
  --color-neutral-900: #1F2937;
  --color-neutral-950: #090C10;
}


/* :root {
  --background: var(--color-mirage-950);
  --foreground: var(--color-mirage-50);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-mirage-950);
    --foreground: var(--color-mirage-50);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
