@import "tailwindcss";

@theme {
  --color-primary: hsl(0, 84%, 60%);
  --color-primary-hover: hsl(0, 84%, 40%);

  --color-secondary: hsl(0, 0%, 100%);
  --color-secondary-hover: hsl(0, 0%, 80%);

  --color-background: hsl(221, 39%, 10%);

  --color-skeleton: hsl(215, 28%, 17%);

  --color-text-primary: hsl(0, 0%, 100%);
  --color-text-primary-hover: var(--color-primary);

  --color-text-secondary: hsl(0, 0%, 80%);

  
}


/* :root {
  --background: var(--color-mirage-950);
  --foreground: var(--color-mirage-50);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-mirage-950);
    --foreground: var(--color-mirage-50);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* font-family: "Times New Roman", Times, serif; */
}