<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} {% if request.endpoint != 'index.index' %} - {% endif %}Manga&Chips</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='assets/book.ico') }}" type="image/x-icon">

    <script src="{{ url_for('static', filename='scripts/dropMenu.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/mainHeight.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', initMainHeight)
        window.addEventListener('resize', initMainHeight)
        window.addEventListener('')
    </script>

    {% block head %}{% endblock head %}
</head>
<body>
    <header>
        <a href="{{ url_for('index.index') }}">
            <div id="logo-container">
                <i id="logo" class="fas fa-book-open"></i>
                <h1>Manga<span style="color: #ef4444;">&</span>Chips</h1>
            </div>
        </a>
            
        <nav class="horizontal-nav">
            <a class="anchor-hover" href="{{ url_for('index.index') }}">Início</a>
            <a class="anchor-hover" href="{{ url_for('user.library_view') }}">Biblioteca</a>
            <a class="anchor-hover" href="#">Categorias</a>

        </nav>
        
        <div class="flex-container">
            <form action="{{ url_for('search.search') }}" method="get">
                <div id="search-container">
                    <input placeholder="Buscar Mangá..." name="query" type="text">
                    <button id="search-button" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>

            <div id="user-menu">
                <i onclick="dropMenu()" id="user-logo" class="fas fa-user-circle anchor-hover"></i>
                <div id="menu-content" class="vertical-nav">
                    {% if current_user.id %}
                        <p style="border-bottom: 1px solid white; padding-bottom:0.5em">{{current_user.username}}</p>
                        <a class="anchor-hover" href="{{ url_for('user.settings') }}">Configurações</a>
                        <a class="anchor-hover" href="{{ url_for('auth.logout') }}">Sair</a>
                    {% else %}
                        <a class="anchor-hover" href="{{ url_for('auth.login') }}">Login</a>
                        <a class="anchor-hover" href="{{ url_for('auth.signup') }}">Cadastro</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <main>
        {% block main %}{% endblock main %}
    </main>
    
    <footer>
        <a href="https://mangadex.org/" target="_blank">
            <div id="powered">
                Powered by Mangadex API
                <img style="width: 1.5em;" src="{{ url_for('static', filename='assets/mangadex.png') }}" alt="">
            </div>  
        </a>
        
        <nav class="vertical-nav">
            <a href="https://github.com/ZagZx" target="_blank">
                <i class="fa-brands fa-github"></i>
                <span>Github</span>
            </a>
            <a href="https://www.linkedin.com/in/pedro-victor-75a069363/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
                <span>Linkedin</span>
            </a>
        </nav>
    </footer>
</body>
</html>

