{% extends "base.html" %}

{% block title %}Cadastro{% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block main %}
<form action="{{ url_for('auth.signup') }}" method="post">
    <label for="username">Nome de Usuário</label>
    <input type="text" name="username">
    
    <label for="email">Email</label>
    <input type="email" name="email">

    <label for="password">Senha</label>
    <input type="password" name="password">

    <button type="submit">Cadastrar</button>
</form>
{% endblock main %}
