{% extends "base.html" %}

{% block title %} {{ request.args.get('query') }} {% endblock title %}

{% block main %}
<form action="{{ url_for('user.add_to_library') }}" method="post">
    <div class="container">
        {% for manga in mangas_list %}
        <div class="card">
            <div>
                <p>{{ manga['title'] }}</p> 
                <button name="{{ manga['id'] }}">Adicionar</button>
                {# <a href=""><button style="color: black;">Ler</button></a> #}
            </div>

            <img width="112" height="160" src="{{ manga['cover_image'] }}" alt="">
        </div>
        {% endfor %}
    </div>
</form>
{% endblock main %}