{% extends "base.html" %}

{% block title %} {{ request.args.get('query') }} {% endblock title %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/card-page.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/search.css') }}">
{% endblock head %}

{% block main %}
<div class="container">
    <h1>Pesquisa por: {{request.args.get('query')}}</h1>
    <form action="{{ url_for('user.add_to_library') }}" method="post"></form>
        {% for manga in mangas_list %}
        <div class="card">
            <div class="manga-info">
                <img width="140" height="200" src="{{ manga['cover_image'] }}" alt="">
                <div>
                    <span title="{{ manga['title'] }}">{{ manga['title'] }}</span> 
                    <p>Em breve outras informações do mangá aqui</p>
                </div>

            </div>
            <div>
                <button class="button" name="{{ manga['id'] }}">Adicionar</button>
                {# <a href=""><button style="color: black;">Ler</button></a> #}
            </div>
        </div>
        {% endfor %}
    </form>
</div>
{% endblock main %}